*:not(.modal):not(.react-select *) {
  background-color: #333;
  color: #eee;
}

a:not(div.modal) {
  color: #f55;
}

.modal-content div:not(.react-select *), .modal-content *:not(.react-select *) {
  background-color: #444;
}

.float-right {
  float: right;
}

.main-content {
  margin: 2em;
}

.faded {
  opacity: 0.7;
  font-style: italic;
}