.moderation-ticket-list {
  margin: 1rem;
  .moderation-ticket {
    border: 1px solid green;
    border-radius: 5px;
    max-width: 800px;
    margin-left: 10px;
    padding-bottom: 5px;
  }
}

.moderation-ticket-form {
  margin-left: 2rem;
}