<!DOCTYPE html>
<html>
  <head>
    <title>Nepsydating</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>

  <script type="text/javascript">
  window.I18n = {
    translations: <%= I18n.backend.translations(do_init: true).to_json.html_safe %>,
    locale: '<%= I18n.locale %>',
    t: (key) => I18n.translations[I18n.locale]?.[key] ?? `missing translation: ${key}`,
  }
  window.User = {
    permissions: [
    <%= @serialized_permissions.map{|p| "'#{p.to_str}'"}.join(', ').html_safe %>
    ],
    hasPermission: (permissionCode) => window.User.permissions.indexOf(permissionCode) > -1,
    loggedIn: <%= @logged_in %>,
  }
  </script>
</html>
